html, body {
	height:100vh; width:100vw;
	margin:0; padding:0;
	font-family: "Lucida Console", Monaco, monospace;
	color:#100;
}
h2 {
	margin:0; padding:1pt 7pt;
}
.topbar {
	z-index:100;
	position:absolute;
	left:0; top:0;
	width:100vw; height:24pt;
	background:#f16745; /* red */
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}
#bar {
	z-index:50;
	position:absolute;
	left:0; top:24pt;
	width:15em; height:calc(100% - 24pt);
	background:#eee;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.5);
}
#bar ul:first-child {
	margin-top:1em;
}
#bar ul {
	list-style-type:none; list-style-image:none;
	margin:0; padding:0;
}
#bar li {
	margin:0; padding:0;
}
#bar > ul > li {
	margin:0; padding:0;
	background:#111;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.25);
}
#bar > ul > li > div {
	z-index:20;
	position:relative;
	padding:0.6em 1em;
	background:#ccc;
	border:1px solid #bbb;
	box-sizing:border-box;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.25);
}
#bar > ul > li > ul > li {
	margin:0; padding:0.1em 0 0.1em 1.5em;
	background:#ecf2f0;
}
#bar > ul > li > ul > li:nth-child(2n) {
	background:#e1e7e5;
}
#bar > ul > li > ul > .selected {
	background:#f16745 !important;
	position:relative;
	z-index:19;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.12);
	-moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.12);
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.12);
}
.area {
	z-index:120;
	position:absolute;
	top:0; right:0;
	width:calc(100% - 15em);
	height:100%;
}
.top {
	width:100%;
	height:calc(100% - 22pt - 4px);
}
.topscroll {
	height:calc(100% - 22pt - 4px);
	overflow:auto;
}
.topmargin {
	border:1em solid transparent;
	box-sizing:border-box;
	width:100%; height:calc(100% - 22pt - 4px);
}
#log {
	display:table;
	width:100%;
	word-break: break-all;
}
#log .action {
	color:#0c8399; /* blue */
}
#log .event {
	color:#73446d; /* purple */
}
#log .notice {
	color:#cf962d; /* yellow */
}
#log .row {
	display:table-row;
}
#log .row .time,
#log .row .nick,
#log .row .msg {
	display:table-cell;
	padding:0.1em 0.3em;
}
#log .row .time {
	width:6em;
}
#log .row .nick {
	width:8em;
	text-align:right;
}
.bottom {
	position:absolute;
	left:0px; bottom:0px;
	border:1px solid #444;
	width:calc(100% - 2px);
}
#input {
	height:calc(22pt + 4px); width:calc(100% - 1.5em);
	display:table;
	margin:0 auto; padding:0;
	font-size:12pt;
	border:0;
}