body, html {
    width:100vw; height:100vh;
    margin:0; padding:0;
    overflow:hidden;
    background:#f0f0f0;
    font-family:"Lucida Console",Monaco,monospace;
}
.layout-root {
    position:absolute;
    top:0; left:0;
    width:100vw; height:100vh;
}
.layout-scroll {
    overflow:auto;
}
.layout {
    position:absolute;
    word-wrap:break-word;
}
#message {
    width:calc(100% - 2px - 8px);
    margin:0; padding:4px;
    background:#fff;
    border:1px solid #000;
}
.header {
    background:#f16745;
    font-size:12pt;
}
.header-margin {
    padding:3px 0 0 5px;
    font-weight:bold;
}
.content-margin {
    padding:5px 8px;
}
#chat-channellist, .userlist {
    box-sizing:border-box;
    font-size:10pt;
}
#chat-channellist {
    border-right:1px solid #000;
}
.serverPadding {
    padding-top:10px;
}
.server {
    background:#ddd;
    padding:1px 5px;
}
.server:hover {
    background:#fff;
}
.channel {
    padding-left:12px !important;
}
.channel:nth-child(2n+1) {
    background:#e4e4e4;
}
.channel.message {
    background:#ffc65d;
}
.channel.highlight {
    background:#f364ad;
}
.channel.active {
    background:#f16745;
}
.channel.disabled {
    color:#888;
}
.userlist {
    border-left:1px solid #000;
}
.userlist > div {
    padding:1px 5px;
}
.userlist > div:nth-child(2n+1) {
    background:#e4e4e4;
}
.noselect {
    /* See http://stackoverflow.com/a/4407335/2233510 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                      not supported by any browser */
}
.handle {
    position:absolute;
}
.handle:hover {
    cursor:grab;
    background:#ddd;
}

#chat-backlog {
    background-color:#f8f8f8;
}
.backlog {
    padding:3px 8px;
}
.backlog-time, .backlog-nick, .backlog-message {
    padding:3px 0;
    vertical-align:top;
    display:inline-block;
    font-size:10pt;
}
.backlog-time {
    color:#aaa;
    width:85px;
}
.backlog-nick {
    text-align:right;
    padding-right:10px;
    width:120px;
}
.backlog-message {
    width:calc(100% - 130px - 85px);
}

/* SETTINGS */
#settings {
    display:none;
    position:absolute;
    left:40px; top:40px;
    width:calc(100% - 80px); height:calc(100% - 80px);
    background:#eee;
    border:1px solid; box-sizing:border-box;
}

#settings h1 {
    margin:0; padding:3px 5px;
    background:#f16745;
    font-size:12pt; font-weight:bold;
}
#settings h2 {
    margin:0; padding:3px 5px;
    background:#ffc65d;
    font-size:10pt; font-weight:bold;
}
#settings #services {
    width:100%;
    padding:3px 5px;
    background:#fff;
    border:1px solid; box-sizing:border-box;
}
#settings button {
    font-family:"Lucida Console",Monaco,monospace;
    background:#dadada;
    border:1px solid; box-sizing:border-box;
}
#settings .listview {
    width:100%; height:90px;
    border:1px solid; box-sizing:border-box;
    background:#fff;
}
