body, html {
    width:100vw; height:100vh;
    margin:0; padding:0;
    overflow:hidden;
}
.layout-root {
    position:absolute;
    top:0; left:0;
    width:100vw; height:100vh;
}
.layout-scroll {
    overflow:auto;
}
.layout {
    position:absolute;
    word-wrap:break-word;
}
#message {
    width:calc(100% - 2px - 8px);
    margin:0; padding:4px;
    background:#fff;
    border:1px solid #000;
}